# Pandas 

A powerful data manipulation library in python, widely used for data analysys and data cleaning.

Provides two primary data structures: Series and dataFrame.

Series - A one dimensional array like object 

DataFrame - A two dimensional , size-mutable , and potentially heterogenious tabular data structure with labelled axes(rows and columns)

In [3]:
!pip install pandas

Requirement already satisfied: pandas in d:\data_science_bootcamp\python\venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in d:\data_science_bootcamp\python\venv\lib\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\data_science_bootcamp\python\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\data_science_bootcamp\python\venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in d:\data_science_bootcamp\python\venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in d:\data_science_bootcamp\python\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [7]:
import pandas as pd

In [17]:
## Series
## A one dimensional array like object that can hold any datatype
data = [1,2,3,4,5]
series = pd.Series(data)
print("series \n", series)
print("type of series:", type(series))

series
 0    1
1    2
2    3
3    4
4    5
dtype: int64
type of series: <class 'pandas.core.series.Series'>

In [23]:
## create a series from the dictionary

data = {"a":1,"b":2,"c":3}
series_dict = pd.Series(data)
print( series_dict)

a    1
b    2
c    3
dtype: int64

In [24]:
data = [1,2,3]
index = ['a','b','c']
pd.Series(data,index=index)

a    1
b    2
c    3
dtype: int64

In [33]:
## DataFrame
## Create a DataFrame from a diictionary of list

data = {
    'name': ['ravi','ram','jack'],
    'age': [20,21,22],
    'city': ['bangalore','hyderabad','pune']
}

df = pd.DataFrame(data)
print(df)
print(type(df))

   name  age       city
0  ravi   20  bangalore
1   ram   21  hyderabad
2  jack   22       pune
<class 'pandas.core.frame.DataFrame'>

In [36]:
## create a Df from a list of dictionaries

data = [
    {'name':'ravi', 'Age':21, 'city': 'bangalore'},
    {'name':'ram', 'Age':22, 'city': 'pune'},
    {'name':'jack', 'Age':23, 'city': 'delhi'}
]

df = pd.DataFrame(data)
print(df)
print(type(df))

   name  Age       city
0  ravi   21  bangalore
1   ram   22       pune
2  jack   23      delhi
<class 'pandas.core.frame.DataFrame'>

In [37]:
## read csv file data

df = pd.read_csv("customers.csv")

In [43]:
## top 5 records

df.head()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

In [42]:
df.tail()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [48]:
## Accessing data from dataFrame

df["Customer Id"]

0     DD37Cf93aecA6Dc
1     1Ef7b82A4CAAD10
2     6F94879bDAfE5a6
3     5Cef8BFA16c5e3c
4     053d585Ab6b3159
           ...
95    cb8E23e48d22Eae
96    CeD220bdAaCfaDf
97    28CDbC0dFe4b1Db
98    c23d1D9EE8DEB0A
99    2354a0E336A91A1
Name: Customer Id, Length: 100, dtype: object

In [56]:
## 0th row
df.loc[0]

Index                                         1
Customer Id                     DD37Cf93aecA6Dc
First Name                               Sheryl
Last Name                                Baxter
Company                         Rasmussen Group
City                               East Leonard
Country                                   Chile
Phone 1                            229.077.5154
Phone 2                        397.884.0519x718
Email                  zunigavanessa@smith.info
Subscription Date                    2020-08-24
Website              http://www.stephenson.com/
Name: 0, dtype: object

In [63]:
## 0th column
df.iloc[0]

Index                                         1
Customer Id                     DD37Cf93aecA6Dc
First Name                               Sheryl
Last Name                                Baxter
Company                         Rasmussen Group
City                               East Leonard
Country                                   Chile
Phone 1                            229.077.5154
Phone 2                        397.884.0519x718
Email                  zunigavanessa@smith.info
Subscription Date                    2020-08-24
Website              http://www.stephenson.com/
Name: 0, dtype: object

#### Use **df.loc[]** when you need to access data based on labels

#### Use **df.iloc[]** when you need to access data based on integer position.

In [64]:
## Accessing a specified element

df['Customer Id']

0     DD37Cf93aecA6Dc
1     1Ef7b82A4CAAD10
2     6F94879bDAfE5a6
3     5Cef8BFA16c5e3c
4     053d585Ab6b3159
           ...
95    cb8E23e48d22Eae
96    CeD220bdAaCfaDf
97    28CDbC0dFe4b1Db
98    c23d1D9EE8DEB0A
99    2354a0E336A91A1
Name: Customer Id, Length: 100, dtype: object

In [69]:
## 99th index customer id
df.at[99,'Customer Id']

'2354a0E336A91A1'

In [72]:
## Accessing a specified element using iat
## giving both row index and column index
df.iat[2,2]

'Roy'

In [77]:
# # add and drop new column
# df['salary'] = []
# df.drop('salary', axis=1, inplace=true)  # axis=1 , not a permanant , inplace=true permanant

In [78]:
df.describe()

            Index
count  100.000000
mean    50.500000
std     29.011492
min      1.000000
25%     25.750000
50%     50.500000
75%     75.250000
max    100.000000