Reading data from different sources

In [3]:
import pandas as pd
from io import StringIO

In [14]:
data = '{"employee_name":"james","email":"james@gmail.com","job_profile":[{"title1":"team lead","title2":"sr. developer"}]}'
df = pd.read_json(StringIO(data))

In [15]:
df

,employee_name,email,job_profile
0,james,james@gmail.com,"{'title1': 'team lead', 'title2': 'sr. develop..."

In [20]:
df.to_json(orient='index')

'{"0":{"employee_name":"james","email":"james@gmail.com","job_profile":{"title1":"team lead","title2":"sr. developer"}}}'

In [21]:
df.to_json(orient='records')

'[{"employee_name":"james","email":"james@gmail.com","job_profile":{"title1":"team lead","title2":"sr. developer"}}]'